<!-- 
    文件路径为: layout/calendar.html
    RMS  复制一个月的日历即可
    1. 打开 “基本情報設定” 
    2. 点击 "現在の営業日カレンダーを確認する"
    3. 复制起始标签为 <table class="calframe_rakuten">  
    4. 复制结束标签为 </table>    
 -->
<!-- 
    文件路径为: layout/calendar.html
    RMS  复制一个月的日历即可
    1. 打开 “基本情報設定” 
    2. 点击 "現在の営業日カレンダーを確認する"
    3. 复制起始标签为 <table class="calframe_rakuten">  
    4. 复制结束标签为 </table>    
 -->
<table class="calframe_rakuten">
    <tr>
        <th colspan="7">2024年8月</th>
    </tr>
    <tr class="weektitle_rakuten">
        <td style="color:#BF0000">日</td>
        <td style="color:#000000">月</td>
        <td style="color:#000000">火</td>
        <td style="color:#000000">水</td>
        <td style="color:#000000">木</td>
        <td style="color:#000000">金</td>
        <td style="color:#1D54A7">土</td>
    </tr>
    <tr>
        <td style="color:#CECECE; background-color:#FFCCCC">28</td>
        <td style="color:#CECECE">29</td>
        <td style="color:#CECECE">30</td>
        <td style="color:#CECECE">31</td>
        <td style="color:#000000">1</td>
        <td style="color:#000000">2</td>
        <td style="color:#BF0000; background-color:#FFCCCC">3</td>
    </tr>
    <tr>
        <td style="color:#BF0000; background-color:#FFCCCC">4</td>
        <td style="color:#000000">5</td>
        <td style="color:#000000">6</td>
        <td style="color:#000000">7</td>
        <td style="color:#000000">8</td>
        <td style="color:#000000">9</td>
        <td style="color:#BF0000; background-color:#FFCCCC">10</td>
    </tr>
    <tr>
        <td style="color:#BF0000; background-color:#FFCCCC">11</td>
        <td style="color:#000000; background-color:#FFCCCC">12</td>
        <td style="color:#000000; background-color:#FFCCCC">13</td>
        <td style="color:#000000; background-color:#FFCCCC">14</td>
        <td style="color:#000000; background-color:#FFCCCC">15</td>
        <td style="color:#000000; background-color:#FFCCCC">16</td>
        <td style="color:#BF0000; background-color:#FFCCCC">17</td>
    </tr>
    <tr>
        <td style="color:#BF0000; background-color:#FFCCCC">18</td>
        <td style="color:#000000">19</td>
        <td style="color:#000000">20</td>
        <td style="color:#000000">21</td>
        <td style="color:#000000">22</td>
        <td style="color:#000000">23</td>
        <td style="color:#BF0000; background-color:#FFCCCC">24</td>
    </tr>
    <tr>
        <td style="color:#BF0000; background-color:#FFCCCC">25</td>
        <td style="color:#000000">26</td>
        <td style="color:#000000">27</td>
        <td style="color:#000000">28</td>
        <td style="color:#000000">29</td>
        <td style="color:#000000">30</td>
        <td style="color:#BF0000; background-color:#FFCCCC">31</td>
    </tr>
    <tr>
        <td style="color:#CECECE; background-color:#FFCCCC">1</td>
        <td style="color:#CECECE">2</td>
        <td style="color:#CECECE">3</td>
        <td style="color:#CECECE">4</td>
        <td style="color:#CECECE">5</td>
        <td style="color:#CECECE">6</td>
        <td style="color:#CECECE; background-color:#FFCCCC">7</td>
    </tr>
</table>