<div class="inner_header_fixed" style="display: block;">
  <div class="header_inner">
      <div class="head_top">
          <a href="https://www.rakuten.ne.jp/gold/chiclab/goldpage.html" class="logo" target="_top">
              <img src="img/logo.jpg" alt="ChicLab">
          </a>
      </div>
      <nav>
          <div class="n_wrap" id="menus">
              <div class="n_link">
                  <a href="https://www.rakuten.ne.jp/gold/chiclab/goldpage.html?to=top" data-view="top">TOP</a>
              </div>
              <div class="n_link">
                  <a href="https://www.rakuten.ne.jp/gold/chiclab/goldpage.html?to=newarrival" data-view="newarrival">NEW IN </a>
              </div>
              <div class="n_link">
                  <a href="https://www.rakuten.ne.jp/gold/chiclab/goldpage.html?to=category" data-view="category">CATEGORY</a>
              </div>
              <div class="n_link">
                  <a href="https://www.rakuten.ne.jp/gold/chiclab/goldpage.html?to=staff" data-view="staff">PUSH ITEM</a>
              </div>
          </div>
      </nav>
  </div>
</div>