#任意のID {
    position: fixed !important;
    bottom: 140px !important;
    right: 6px !important;
    background-color: #cc0000 !important;
    text-align: center !important;
    width: 44px !important;
    height: 44px !important;
    z-index: 900001 !important;
    border-radius: 3px !important;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.7) !important;
}
 
#任意のID > a {
    opacity: 1 !important;
    width: 42px !important;
    height: 42px !important;
    padding: 0 !important;
    z-index: 900001 !important;
}
 
#任意のID > a > img {
    opacity: 1 !important;
    width: 22px !important;
    height: 22px !important;
    position: relative !important;
    top: 10px !important;
    z-index: 900002 !important;
}